<section class="about-page">
  <div class="container">
    <h2>
      О компании
    </h2>
    <div class="about-page__inner-wrapper">
      <div class="about-page__content">
        <div class="about-page__item about-page__item--img">
          <img src="img/about-1.jpg" alt="">
        </div>
        <div class="about-page__item about-page__item--text">
          <p>
            «Kobi software»  предлагает интеллектуальные решения безопасности, а также разработку алгоритмов на основе технологии распознавания номерных знаков авто, распознавания лиц и обнаружения объектов с использованием нейронной сети. Имея в портфеле набор программ VMS для архитектуры x86 и ARM,  создает уникальные решения для систем «Безопасный город» и технологических процессов. Продукты компании также известны на рынке под торговыми марками CaMap Analytics и ZetPro. Основана в 2004 году.
          </p>
        </div>
      </div>
      <div class="about-page__content">
        <div class="about-page__item about-page__item--img">
          <img src="img/about-2.jpg" alt="">
        </div>
        <div class="about-page__item about-page__item--text">
          <p>
            Специалисты компании «Kobi integrator» имеют богатый опыт проектирования и реального воплощения  различных технологических комплексов для решения промышленного телевидения ,  они помогут Вам составить оптимальную структуру системы для решения конкретных задач и окажут консультации по особенностям эксплуатации и применения приборов.
          </p>
        </div>
      </div>
      <div class="about-page__content">
        <div class="about-page__item about-page__item--img">
          <img src="img/about-3.jpg" alt="">
        </div>
        <div class="about-page__item about-page__item--text">
          <p>
            «ZetPro» Zen Electronics Technology Co., Ltd.  является высокотехнологичным предприятием, которое объединяет исследования, разработки, производство и продажу. Ассортимент марки ZetPro составляет оборудование для видеонаблюдения. Основой акцент делается на IP оборудование. Линейка IP оборудования охватывает все сегменты данного рынка от эконом- до профессиональных устройств, причем лучших в своем классе. Данный подход позволяет добиться максимальной эффективности в проектах по обеспечению безопасности любой сложности.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
