<section class="about">
  <div class="container">
    <h2>
      О компании
    </h2>
    <div class="about__content">
      <p>
        Мы занимаемся поставками, установкой и монтажом систем удаленного видеонаблюдения, а также других средств комплексного обеспечения безопасности (систем оповещения и сигнализации самого разного назначения) Мы занимаемся поставками, установкой и монтажом систем удаленного видеонаблюдения, а также других средств комплексного обеспечения безопасн
      </p>
      <p>
        Мы занимаемся поставками, установкой и монтажом систем удаленного видеонаблюдения, а также других средств комплексного обеспечения безопасности (систем оповещения и сигнали
      </p>
      <p>
        Мы занимаемся поставками, установкой и монтажом систем удаленного видеонаблюдения, а также других средств комплексного обеспечения безопасности (систем оповещения и сигнализации самого разного назначения)
      </p>
      <a href="#">
        Читать далее
      </a>
    </div>
  </div>
</section>
