<section class="news">
  <div class="container">
    <h2>
      Новости и события
      <a href="#">
        Все новости
      </a>
    </h2>
    <div class="news__inner-wrapper">
      <div class="news__content news__content--img">
        <img src="img/news.png" alt="">
      </div>
      <ul class="news__content news__content--list">
        <li>
          <a href="#">
            <h3>
              Распознавание лиц от ZetPro
            </h3>
            <time datetime="2019-11-11">
              11.11.2019
            </time>
          </a>
        </li>
        <li>
          <a href="#">
            <h3>
              В продажу поступили новые бюджетные камеры 4 MP версии Light
            </h3>
            <time datetime="2019-11-11">
              11.11.2019
            </time>
          </a>
        </li>
        <li>
          <a href="#">
            <h3>

              В продажу поступили новые бюджетные камеры 4 MP версии Light 4 MP версии Light
            </h3>
            <time datetime="2019-11-11">
              11.11.2019
            </time>
          </a>
        </li>
        <li>
          <a href="#">
            <h3>
              В продажу поступили новые бюджетные камеры 4 MP версии Light 4 MP версии Light 4 MP версии Light
            </h3>
            <time datetime="2019-11-11">
              11.11.2019
            </time>
          </a>
        </li>
        <li>
          <a href="#">
            <h3>
              В продажу поступили новые бюджетные камеры 4 MP версии Light 4 MP версии Light 4 MP версии Light
            </h3>
            <time datetime="2019-11-11">
              11.11.2019
            </time>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
