<section class="novelty">
  <div class="container">
    <h2>
      Новинки
    </h2>
  </div>
  <div class="container--fluid initial">
    <div class="novelty__slider swiper-container">
      <div class="novelty__wrapper swiper-wrapper">
        <div class="novelty__slide swiper-slide">
          <div class="container">
            <div class="novelty__slide-inner">
              <div class="novelty__content novelty__content--text">
                <h3>
                  Smart ip камера 2mp
                  ZIP-322SR3-DVSPF28
                </h3>
                <p>
                  Smart ip камера 2mp ZIP-322SR3-DVSPF28 с интеллектуальными функциями. WDR 120DB. Матрица 1/2.9″, 2.0 mp, progressive scan, Sony CMOS. H.264/Н.265, smart code. Минимальная освещенность при : 0,02 лк. MicroSD до 128 Gb. Функция ANR. Аудио вход, тревожный вход-1/выход-1. Адаптивная ИК-подсветка до 30 метров. Передача сигнала и питания PoE на 250 метров в паре с NVR ZIP-NVR301-04L-P4 и PoE коммутаторами ZTP-ZP1016-HPoE, ZTP-ZP1024-HPoE
                </p>
                <button class="button">
                  Перейти к модели
                </button>
              </div>
              <div class="novelty__content novelty__content--img">
                <img src="img/cam1.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="novelty__slide swiper-slide">
          <div class="container">
            <div class="novelty__slide-inner">
              <div class="novelty__content novelty__content--text">
                <h3>
                  Smart ip камера 2mp
                  ZIP-322SR3-DVSPF28
                </h3>
                <p>
                  Smart ip камера 2mp ZIP-322SR3-DVSPF28 с интеллектуальными функциями. WDR 120DB. Матрица 1/2.9″, 2.0 mp, progressive scan, Sony CMOS. H.264/Н.265, smart code. Минимальная освещенность при : 0,02 лк. MicroSD до 128 Gb. Функция ANR. Аудио вход, тревожный вход-1/выход-1. Адаптивная ИК-подсветка до 30 метров. Передача сигнала и питания PoE на 250 метров в паре с NVR ZIP-NVR301-04L-P4 и PoE коммутаторами ZTP-ZP1016-HPoE, ZTP-ZP1024-HPoE
                </p>
                <button class="button">
                  Перейти к модели
                </button>
              </div>
              <div class="novelty__content novelty__content--img">
                <img src="img/teh-img-1.png" alt="">
              </div>
            </div>
          </div>
        </div>

    </div>
    <button class="swiper-button-next novelty__slide-button novelty__slide-button--next"></button>
    <button class="swiper-button-prev novelty__slide-button novelty__slide-button--prev"></button>
  </div>
</section>
