<section class="projects">
  <div class="container">
    <h2>
      Успешные проекты
      <a href="#">
        Все проекты
      </a>
    </h2>
    <div class="projects__slider swiper-container">
      <div class="projects__wrapper swiper-wrapper">
        <a href="#" class="projects__slide swiper-slide">
          <span class="projects__img">
            <img src="img/project.jpg" alt="">
          </span>
          <h3>
            «Безопасный Город»
            г. Житомир
          </h3>
        </a>
        <a href="#" class="projects__slide swiper-slide">
          <span class="projects__img">
            <img src="img/project.jpg" alt="">
          </span>
          <h3>
            «Безопасный Город»
            г. Житомир
          </h3>
        </a>
        <a href="#" class="projects__slide swiper-slide">
          <span class="projects__img">
            <img src="img/project.jpg" alt="">
          </span>
          <h3>
            «Безопасный Город»
            г. Житомир
          </h3>
        </a>
        <a href="#" class="projects__slide swiper-slide">
          <span class="projects__img">
            <img src="img/project.jpg" alt="">
          </span>
          <h3>
            «Безопасный Город»
            г. Житомир
          </h3>
        </a>
        <a href="#" class="projects__slide swiper-slide">
          <span class="projects__img">
            <img src="img/project.jpg" alt="">
          </span>
          <h3>
            «Безопасный Город»
            г. Житомир
          </h3>
        </a>
      </div>
    </div>
  </div>
  <button class="swiper-button-next projects__slide-button projects__slide-button--next"></button>
  <button class="swiper-button-prev projects__slide-button projects__slide-button--prev"></button>
</section>
