<section class="technologies">
  <div class="container">
    <h2>
      Ключевые технологии
    </h2>
    <div class="technologies__inner-wrapper">
      <div class="technologies__item">
        <div class="technologies__item-img">
          <img src="img/teh-img-1.png" alt="">
        </div>
        <h3>
          Распознавание номеров
        </h3>
        <p>
          Описание технологии Описание технологии Описание технологии Описание технологии Описание технологии Описание технологии
        </p>
        <button class="button button--center">
          Узнать больше
        </button>
      </div>
      <div class="technologies__item">
        <div class="technologies__item-img">
          <img src="img/teh-img-2.png" alt="">
        </div>
        <h3>
          Распознавание лиц
        </h3>
        <p>
          Описание технологии Описание технологии Описание технологии Описание технологии Описание технологии Описание технологии
        </p>
        <button class="button button--center">
          Узнать больше
        </button>
      </div>
      <div class="technologies__item">
        <div class="technologies__item-img">
          <img src="img/teh-img-3.png" alt="">
        </div>
        <h3>
          Трафик
        </h3>
        <p>
          Описание технологии Описание технологии Описание технологии Описание технологии Описание технологии Описание технологии
        </p>
        <button class="button button--center">
          Узнать больше
        </button>
      </div>
      <div class="technologies__item">
        <div class="technologies__item-img">
          <img src="img/teh-img-4.png" alt="">
        </div>
        <h3>
          Приложения
        </h3>
        <p>
          Описание технологии Описание технологии Описание технологии Описание технологии Описание технологии Описание технологии
        </p>
        <button class="button button--center">
          Узнать больше
        </button>
      </div>
    </div>
  </div>
</section>
