<section class="product-catalog">
  <div class="container">
    <h2>
      Сетевая IP камера
    </h2>
    <div class="product-catalog__inner-wrapper">
      <a href="card-product.html" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('network-ip-camera--icon')}}
        </div>
        <h3>
          1.3 Мегапикселя (HD 960P)
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('2mp--icon')}}
        </div>
        <h3>
          2.0 Мегапикселя <br>
          (FULL HD 1080P)
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('3mp--icon')}}
        </div>
        <h3>
          3.0 Мегапикселя
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('wifi-components--icon')}}
        </div>
        <h3>
          Wi-Fi Комплекты
        </h3>
      </a>
      <a href="#" class="product-catalog__item" >
        <div class="product-catalog__img">
          {{mixins.icon('5mp--icon')}}
        </div>
        <h3>
          5.0 Мегапикселей
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('4mp--icon')}}
        </div>
        <h3>
          4K
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('4mp--icon')}}
        </div>
        <h3>
          4.0 Мегапикселя
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('ip-speed--icon')}}
        </div>
        <h3>
          IP speed-dom
        </h3>
      </a>


    </div>
  </div>
</section>
