<section class="news-page">
  <div class="container">
    <h2>
      Новости и события
    </h2>
    <div class="news-page__inner-wrapper">
      <a href="articles-inner.html" class="news-page__item">
        <div class="news-page__img">
          <img src="img/news-page-img.jpg" alt="">
        </div>
        <div class="news-page__text">
          <time>
            21.09.2018
          </time>
          <h3>
            Компанія «Кобі-Дистриб’юшин» провела оглядово-практичний семінар з обладнання TM «ZetPro» і ПЗ «CaMaP»
          </h3>
          <p>
            Фирма ООО «Коби» работает на рынке промышленного телевидения и систем CCTV видеонаблюдения с 2003 года предоставляя заказчикам полный спектр услуг по системной интеграции и инсталляции оборудования.
          </p>
          <div class="news-page__more">
            {{mixins.icon('download--icon')}}
            Подробнее
          </div>
        </div>
      </a>
      <a href="#" class="news-page__item">
        <div class="news-page__img">
          <img src="img/news-page-img.jpg" alt="">
        </div>
        <div class="news-page__text">
          <time>
            21.09.2018
          </time>
          <h3>
            Компанія «Кобі-Дистриб’юшин» провела оглядово-практичний семінар з обладнання TM «ZetPro» і ПЗ «CaMaP»
          </h3>
          <p>
            Фирма ООО «Коби» работает на рынке промышленного телевидения и систем CCTV видеонаблюдения с 2003 года предоставляя заказчикам полный спектр услуг по системной интеграции и инсталляции оборудования.
          </p>
          <div class="news-page__more">
            {{mixins.icon('download--icon')}}
            Подробнее
          </div>
        </div>
      </a>
      <a href="#" class="news-page__item">
        <div class="news-page__img">
          <img src="img/news-page-img.jpg" alt="">
        </div>
        <div class="news-page__text">
          <time>
            21.09.2018
          </time>
          <h3>
            Компанія «Кобі-Дистриб’юшин» провела оглядово-практичний семінар з обладнання TM «ZetPro» і ПЗ «CaMaP»
          </h3>
          <p>
            Фирма ООО «Коби» работает на рынке промышленного телевидения и систем CCTV видеонаблюдения с 2003 года предоставляя заказчикам полный спектр услуг по системной интеграции и инсталляции оборудования.
          </p>
          <div class="news-page__more">
            {{mixins.icon('download--icon')}}
            Подробнее
          </div>
        </div>
      </a>
      <button class="button button--center news-page__button">
        Показать ещё
      </button>
    </div>
  </div>
</section>
