<section class="partners">
  <div class="container">
    <h2>
      Партнеры
    </h2>
    <div class="partners__inner-wrapper">
      <div class="partners__item">
        <div class="partners__info">
          Фирма ООО «Коби» работает на рынке промышленного телевидения и систем CCTV видеонаблюдения с 2003 года предоставляя заказчикам полный спектр услуг по системной интеграции и инсталляции оборудования.
        </div>
        <div class="partners__logo">
          <img src="img/partners--logo-1.png" alt="">
        </div>
      </div>
      <div class="partners__item">
        <div class="partners__info">
          НПФ «Коби» реализует и внедряет программу «Безопасный Город» на территории Украины, программное обеспечение собственной Украинской разработки,а так же поставляет
        </div>
        <div class="partners__logo">
          <img src="img/partners--logo-2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
