<section class="categories">
  <div class="container">
    <h2>
      Товары из категории
    </h2>
    <div class="categories__inner-wrapper">
      <a href="#" class="categories__card">
        <div  class="categories__compare">
          {{mixins.icon('compare--icon')}}
          <span>
            Сравнить
          </span>
        </div>
        <div class="categories__img">
          <img src="img/categories-img.jpg" alt="">
        </div>
        <h4>
          IP камера 1.3mp ZIP-13B01-0103AP
        </h4>
        <div class="categories__price">
          $83.00
        </div>
      </a>
      <a href="#" class="categories__card">
        <div  class="categories__compare">
          {{mixins.icon('compare--icon')}}
          <span>
            Сравнить
          </span>
        </div>
        <div class="categories__img">
          <img src="img/categories-img.jpg" alt="">
        </div>
        <h4>
          IP камера 1.3mp ZIP-13B01-0103AP
        </h4>
        <div class="categories__price">
          $83.00
        </div>
      </a>
      <a href="#" class="categories__card">
        <div  class="categories__compare">
          {{mixins.icon('compare--icon')}}
          <span>
            Сравнить
          </span>
        </div>
        <div class="categories__img">
          <img src="img/categories-img.jpg" alt="">
        </div>
        <h4>
          IP камера 1.3mp ZIP-13B01-0103AP
        </h4>
        <div class="categories__price">
          $83.00
        </div>
      </a>
      <a href="#" class="categories__card">
        <div  class="categories__compare">
          {{mixins.icon('compare--icon')}}
          <span>
            Сравнить
          </span>
        </div>
        <div class="categories__img">
          <img src="img/categories-img.jpg" alt="">
        </div>
        <h4>
          IP камера 1.3mp ZIP-13B01-0103AP
        </h4>
        <div class="categories__price">
          $83.00
        </div>
      </a>
      <a href="#" class="categories__card">
        <div  class="categories__compare">
          {{mixins.icon('compare--icon')}}
          <span>
            Сравнить
          </span>
        </div>
        <div class="categories__img">
          <img src="img/categories-img.jpg" alt="">
        </div>
        <h4>
          IP камера 1.3mp ZIP-13B01-0103AP
        </h4>
        <div class="categories__price">
          $83.00
        </div>
      </a>
      <a href="#" class="categories__card">
        <div  class="categories__compare">
          {{mixins.icon('compare--icon')}}
          <span>
            Сравнить
          </span>
        </div>
        <div class="categories__img">
          <img src="img/categories-img.jpg" alt="">
        </div>
        <h4>
          IP камера 1.3mp ZIP-13B01-0103AP
        </h4>
        <div class="categories__price">
          $83.00
        </div>
      </a>
      <a href="#" class="categories__card">
        <div  class="categories__compare">
          {{mixins.icon('compare--icon')}}
          <span>
            Сравнить
          </span>
        </div>
        <div class="categories__img">
          <img src="img/categories-img.jpg" alt="">
        </div>
        <h4>
          IP камера 1.3mp ZIP-13B01-0103AP
        </h4>
        <div class="categories__price">
          $83.00
        </div>
      </a>
      <a href="#" class="categories__card">
        <div  class="categories__compare">
          {{mixins.icon('compare--icon')}}
          <span>
            Сравнить
          </span>
        </div>
        <div class="categories__img">
          <img src="img/categories-img.jpg" alt="">
        </div>
        <h4>
          IP камера 1.3mp ZIP-13B01-0103AP
        </h4>
        <div class="categories__price">
          $83.00
        </div>
      </a>
    </div>
    <button class="button button--center">
      Показать ещё
    </button>
  </div>
</section>
