<section class="product-catalog">
  <div class="container">
    <h2>
      Каталог продукции
    </h2>
    <div class="product-catalog__inner-wrapper">
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('network-ip-camera--icon')}}
        </div>
        <h3>
          Сетевая IP камера
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('network-ip--icon')}}
        </div>
        <h3>
          Сетевой IP <br>
          видеорегистратор  NVR
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('wifi-kits--icon')}}
        </div>
        <h3>
          Wi-Fi комплекты
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('software--icon')}}
        </div>
        <h3>
          Программное обеспечение,
          аналитика
        </h3>
      </a>
      <a href="#" class="product-catalog__item" >
        <div class="product-catalog__img">
          {{mixins.icon('control--icon')}}
        </div>
        <h3>
          Пульт управления
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('network-storage--icon')}}
        </div>
        <h3>
          Сетевое хранилище
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('processing-data--icon')}}
        </div>
        <h3>
          Центр обработки
          данных
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('poe--icon')}}
        </div>
        <h3>
          POE коммутаторы
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('ip-intercom--icon')}}
        </div>
        <h3>
          IP домофон
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('additional--icon')}}
        </div>
        <h3>
          Дополнительное
          оборудование
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('design-models--icon')}}
        </div>
        <h3>
          Проектные модели
        </h3>
      </a>
      <a href="#" class="product-catalog__item">
        <div class="product-catalog__img">
          {{mixins.icon('industrial-tv--icon')}}
        </div>
        <h3>
          Промышленное
          телевидение
        </h3>
      </a>

    </div>
  </div>
</section>
