<footer class="footer">
  <div class="container">
    <div class="footer__inner-wrapper">
      <a href="#" class="footer__logo footer__logo--main">
        <img src="img/logo.svg" alt="">
      </a>
      <a href="#" class="footer__logo footer__logo--helper">
        <img src="img/logo--two.svg" alt="">
      </a>
      <ul class="footer__nav">
        <li>
          <a href="#">
            Каталог
          </a>
        </li>
        <li>
          <a href="#">
            Поддержка
          </a>
        </li>
        <li>
          <a href="#">
            Новости
          </a>
        </li>
        <li>
          <a href="#">
            Партнеры
          </a>
        </li>
        <li>
          <a href="#">
            О нас
          </a>
        </li>
      </ul>
      <div class="footer__copyright">
        Все права защищены © 2019, ООО «Коби»
      </div>
    </div>
  </div>
</footer>
