<section class="card-product">
  <div class="container">
    <button class="button card-product__button">
      Добавить в сравнение
    </button>
    <h2>
      Smart ip камера 2mp ZIP-322SR3-DVSPF28
    </h2>
    <div class="card-product__container">
      <div class="card-product__img">
        <img src="img/zip.png" alt="">
      </div>
      <div class="card-product__info">
        <p>
          Smart ip камера 2mp ZIP-322SR3-DVSPF28 с интеллектуальными функциями. WDR 120DB. Матрица 1/2.9″, 2.0 mp, progressive scan, Sony CMOS. H.264/Н.265, smart code. Минимальная освещенность при : 0,02 лк. MicroSD до 128 Gb. Функция ANR. Аудио вход, тревожный вход-1/выход-1. Адаптивная ИК-подсветка до 30 метров. Передача сигнала и питания PoE на 250 метров в паре с NVR ZIP-NVR301-04L-P4 и PoE коммутаторами ZTP-ZP1016-HPoE, ZTP-ZP1024-HPoE
        </p>
        <div class="card-product__price">
          $83.00
        </div>
      </div>
    </div>
    <div class="card-product__tabs">
      <ul class="card-product__caption">
        <li>
          Описание
        </li>
        <li>
          Характеристики
        </li>
        <li>
          Видео-обзор
        </li>
        <li>
          Отзывы
        </li>
      </ul>
      <div class="card-product__content">
        <p>
          Smart IP видеорегистратор ZIP-301-08LB 8 канальный, с разрешением записи 1080p/960p/720p/D1/2CIF/CIF на каждый канал. Аппаратное сжатие Ultra 265/H.265/H.264. 2 порта USB 2.0 управление мышью. Smart IP видеорегистратор  ZIP-NVR301-08S имеет облачный сервис P2P cloud. Простой и удобный интерфейс. Полноценный WEB интерфейс. E-mail уведомление. Клиент-приложение Guard Station для Windows/MAC
        </p>
        <ul>
          <li>
            8 — каналов
          </li>
          <li>
            Поддержка ONVIF (Profile S, Profile G, Profile T)
          </li>
          <li>
            HDMI, VGA
          </li>
          <li>
            Запись до 2 MP на канал
          </li>
          <li>
            Кодировка H.264/H.265/Ultra 265
          </li>
          <li>
            1 SATA HDDs, до 8TB
          </li>
          <li>
            P2P, UPnP, NTP, DHCP, PPPoE
          </li>
          <li>
            Мобильное приложение Guard Viewer
          </li>
          <li>
            ПК приложение Guard Station
          </li>
        </ul>
        <p>
          <a href="#">
            Инструкция по настройке регистратора
          </a>
        </p>
      </div>
      <div class="card-product__content">
        <table>
          <tr>
            <th colspan="2">
              КАМЕРА
            </th>
          </tr>
          <tr>
            <td>
              Модель №
            </td>
            <td>
              ZIP-13AA1-3603P
            </td>
          </tr>
          <tr>
            <td>
              Сенсор
            </td>
            <td>
              1/3 SONY 137 Мега прогрессивное сканирование CMOS
            </td>
          </tr>
          <tr>
            <td>
              Минимальное освещение
            </td>
            <td>
              0.1Lux/F1.4
            </td>
          </tr>
        </table>
      </div>
      <div class="card-product__content">
        <div class="card-product__video-wrapper">
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-product__content">
        <div class="card-product__review">
          <h2>
            Оставить отзыв
          </h2>
          <form class="form">
            <input type="text" name="name" placeholder="Введите ваше имя*" required>
            <input type="email" name="email" placeholder="Введите ваш e-mail*" required>
            <textarea name="review" placeholder="Ваш отзыв"></textarea>
            <button class="button">
              Отправить
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
