<section class="projects-page">
  <div class="container">
    <h2>
      Успешные проекты
    </h2>
    <div class="projects-page__inner-wrapper">
      <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project.jpg" alt="">
          </span>
        <h3>
          «Безопасный Город» <br>
          г. Житомир
        </h3>
      </a>
      <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project-2.jpg" alt="">
          </span>
        <h3>
          «Безопасный Город» <br>
          г. Чернигов
        </h3>
      </a>
      <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project-3.jpg" alt="">
          </span>
        <h3>
          «Безопасный Город» <br>
          г. Ровно
        </h3>
      </a>
      <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project.jpg" alt="">
          </span>
        <h3>
          «Безопасный Город» <br>
          г. Житомир
        </h3>
      </a>
      <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project-2.jpg" alt="">
          </span>
        <h3>
          «Безопасный Город» <br>
          г. Чернигов
        </h3>
      </a>
      <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project-3.jpg" alt="">
          </span>
        <h3>
          «Безопасный Город» <br>
          г. Ровно
        </h3>
      </a>
      <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project.jpg" alt="">
          </span>
        <h3>
          «Безопасный Город» <br>
          г. Житомир
        </h3>
      </a>
      <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project-2.jpg" alt="">
          </span>
        <h3>
          «Безопасный Город» <br>
          г. Чернигов
        </h3>
      </a>
    </div>
    <button class="button button--center">
      Показать еще
    </button>
  </div>
</section>
