<section class="solution-info">
  <div class="container">
    <h2>
      Безопасный город
    </h2>
    <div class="solution-info__content">
      <p>
        Система Безопасный город «CaMap» - это аналитическая система оповещения и обработки данных, поступающих с IP-видеокамер со встроенной аналитикой. Эта система включает в себя программно-аппаратный комплекс, состоящий из передового оборудования и набора компьютерных программ для построения ситуационных центров реагирования и обработки событий, а также мобильных приложений. При этом система автоматически отслеживает и анализирует видеоинформацию, что фиксируется камерами наблюдения в режиме реального времени на предмет различных ситуаций
      </p>
    </div>
  </div>
</section>
<section class="solution-about">
  <div class="container">
    <h2>
      Что может система?
    </h2>
    <div class="solution-about__inner-wrapper">
      <div class="solution-about__item">
        <h3>
          Распознавание номеров
          автомобилей на въездах
          и выездах
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-1.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
      <div class="solution-about__item">
        <h3>
          Распознование типа
          авто, марки, модели
          и цвета авто
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-2.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
      <div class="solution-about__item">
        <h3>
          Распознавание лиц в местах
          скопления людей (возраста,
          пола, эмоций)
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-3.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
      <div class="solution-about__item">
        <h3>
          Определение
          нарушений ПДД
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-4.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
      <div class="solution-about__item">
        <h3>
          Распознавание номеров
          для труднодоступных
          участков
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-5.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
      <div class="solution-about__item">
        <h3>
          Распознавание лиц
          и номера авто
          с нагрудной камеры
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-6.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
      <div class="solution-about__item">
        <h3>
          Определение ДТП
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-7.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
      <div class="solution-about__item">
        <h3>
          Повышение звукового
          барьера (выстрел,
          взрыв, крик и т.д.)
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-8.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
      <div class="solution-about__item">
        <h3>
          Выявление оставленных
          или перемещенных
          предметов
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-9.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
      <div class="solution-about__item">
        <h3>
          Определение скоплений
          людей
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-10.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
      <div class="solution-about__item">
        <h3>
          Подсчет людей, пересечение
          виртуальных линий,
          определение задымления
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-11.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
      <div class="solution-about__item">
        <h3>
          Набор программ
          для построения системы
        </h3>
        <div class="solution-about__img">
          <img src="img/solution-about-12.jpg" alt="">
          <ul class="solution-about__list">
            <li>
              Автоматическое распознавание номерных знаков автомобиля
            </li>
            <li>
              Обнаружение транспортных средств, которые числятся в розыске
            </li>
            <li>
              Определение местонахождения транспортного средства
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="solution-about__text-container">
      <p>
        В случае наступления тревожного события или правонарушения система автоматически выводит информацию на монитор оператора для реагирования. Это значительно упрощает работу операторов и позволяет осуществлять реагирования по предварительно установленным критериям. Возможна интеграция с существующими базами данных реистраци транспорта авто ,полиции и тд.
      </p>
      <p>
        Данная система может быть внедрена в объединенных территориальных общинах, в районах и городах области с последующим объединением потоков видеоинформации в одном или нескольких ситуационных центрах.
      </p>
    </div>
  </div>
</section>
<section class="solution-analytics">
  <div class="container">
    <h2>
      Аналитические возможности
    </h2>
    <div class="solution-analytics__info">
      <ul>
        <li>
          Визитер: определение авто, которые находятся в городе впервые
        </li>
        <li>
          Парковка: наиболее частое место парковки определенного авто
        </li>
        <li>
          Сопровождение: поиск авто, которые преследуют определенную особу
        </li>
        <li>
          Двойник: определение одинаковых авто, которые находятся одновременно в разных местах
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="solution-equipment">
  <div class="container">
    <h2>
      Оборудование
    </h2>
    <div class="solution-equipment__inner-wrapper">
      <div class="solution-equipment__item">
        <div class="solution-equipment__img">
          <img src="img/equip-1.jpg" alt="">
        </div>
        <h3>
          ZIP-6452SR-DU-X33U
        </h3>
        <ul>
          <li>
            Full HD 2 mp
          </li>
          <li>
            33x zoom
          </li>
          <li>
            Starlight 0,001 lux
          </li>
          <li>
            Auto tracking
          </li>
          <li>
            Маршруты патрулирования
          </li>
          <li>
            Защита от обледенения
          </li>
          <li>
            Защита от скачков напряжения до 6000В
          </li>
        </ul>
      </div>
      <div class="solution-equipment__item">
        <div class="solution-equipment__img">
          <img src="img/equip-2.jpg" alt="">
        </div>
        <h3>
          ZIP-262ER9-X10DUCP
        </h3>
        <ul>
          <li>
            Full HD 2 mp
          </li>
          <li>
            10x zoom
          </li>
          <li>
            Starlight 0,001 lux
          </li>
          <li>
            HLC
          </li>
          <li>
            Определение номеров в ночное время
          </li>
        </ul>
      </div>
      <div class="solution-equipment__item">
        <div class="solution-equipment__img">
          <img src="img/equip-3.jpg" alt="">
        </div>
        <h3>
          ZIP-NVR516-128
        </h3>
        <ul>
          <li>
            128 каналов
          </li>
          <li>
            До 12 MP запись на канал
          </li>
          <li>
            H.265/H.264
          </li>
          <li>
            16 HDD по 8 TB каждый
          </li>
          <li>
            RAID
          </li>
          <li>
            До 14 HDMI  выходов
          </li>
          <li>
            2х miniSAS
          </li>
        </ul>
      </div>
      <div class="solution-equipment__item">
        <div class="solution-equipment__img">
          <img src="img/equip-4.jpg" alt="">
        </div>
        <h3>
          ZIP-NVR516-128
        </h3>
        <ul>
          <li>
            128 каналов
          </li>
          <li>
            До 12 MP запись на канал
          </li>
          <li>
            H.265/H.264
          </li>
          <li>
            16 HDD по 8 TB каждый
          </li>
          <li>
            RAID
          </li>
          <li>
            До 14 HDMI  выходов
          </li>
          <li>
            2х miniSAS
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="solution-tabs">
  <div class="container">
    <div class="card-product__tabs">
      <ul class="card-product__caption">
        <li>
          Видео
        </li>
        <li>
          Новости
        </li>
        <li>
          Объекты
        </li>
        <li>
          Карта
        </li>
      </ul>
      <div class="card-product__content">
        <div class="card-product__video-wrapper">
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
          <div class="card-product__video">
            <a data-fancybox="gallery" href="img/tron_legacy_trailer.mp4" class="card-product__video-link">
              <img src="img/card-product-video.jpg">
            </a>
            <a href="#" class="card-product__download">
              LPR BOX is stand-alone solution for
              license plate recognition
              <span>
                {{mixins.icon('download--icon')}}
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-product__content">
        <div class="news-page__inner-wrapper">
          <a href="articles-inner.html" class="news-page__item">
            <div class="news-page__img">
              <img src="img/news-page-img.jpg" alt="">
            </div>
            <div class="news-page__text">
              <time>
                21.09.2018
              </time>
              <h3>
                Компанія «Кобі-Дистриб’юшин» провела оглядово-практичний семінар з обладнання TM «ZetPro» і ПЗ «CaMaP»
              </h3>
              <p>
                Фирма ООО «Коби» работает на рынке промышленного телевидения и систем CCTV видеонаблюдения с 2003 года предоставляя заказчикам полный спектр услуг по системной интеграции и инсталляции оборудования.
              </p>
              <div class="news-page__more">
                {{mixins.icon('download--icon')}}
                Подробнее
              </div>
            </div>
          </a>
          <a href="#" class="news-page__item">
            <div class="news-page__img">
              <img src="img/news-page-img.jpg" alt="">
            </div>
            <div class="news-page__text">
              <time>
                21.09.2018
              </time>
              <h3>
                Компанія «Кобі-Дистриб’юшин» провела оглядово-практичний семінар з обладнання TM «ZetPro» і ПЗ «CaMaP»
              </h3>
              <p>
                Фирма ООО «Коби» работает на рынке промышленного телевидения и систем CCTV видеонаблюдения с 2003 года предоставляя заказчикам полный спектр услуг по системной интеграции и инсталляции оборудования.
              </p>
              <div class="news-page__more">
                {{mixins.icon('download--icon')}}
                Подробнее
              </div>
            </div>
          </a>
          <button class="button button--center news-page__button">
            Показать ещё
          </button>
        </div>
      </div>
      <div class="card-product__content">
        <div class="projects-page__inner-wrapper">
          <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project.jpg" alt="">
          </span>
            <h3>
              «Безопасный Город» <br>
              г. Житомир
            </h3>
          </a>
          <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project-2.jpg" alt="">
          </span>
            <h3>
              «Безопасный Город» <br>
              г. Чернигов
            </h3>
          </a>
          <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project-3.jpg" alt="">
          </span>
            <h3>
              «Безопасный Город» <br>
              г. Ровно
            </h3>
          </a>
          <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project.jpg" alt="">
          </span>
            <h3>
              «Безопасный Город» <br>
              г. Житомир
            </h3>
          </a>
          <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project-2.jpg" alt="">
          </span>
            <h3>
              «Безопасный Город» <br>
              г. Чернигов
            </h3>
          </a>
          <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project-3.jpg" alt="">
          </span>
            <h3>
              «Безопасный Город» <br>
              г. Ровно
            </h3>
          </a>
          <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project.jpg" alt="">
          </span>
            <h3>
              «Безопасный Город» <br>
              г. Житомир
            </h3>
          </a>
          <a href="#" class="projects__slide">
          <span class="projects__img">
            <img src="img/project-2.jpg" alt="">
          </span>
            <h3>
              «Безопасный Город» <br>
              г. Чернигов
            </h3>
          </a>
        </div>
        <button class="button button--center">
          Показать еще
        </button>
      </div>
      <div class="card-product__content">
        <div class="solution-tabs__map">
          <a href="img/map.jpg" data-fancybox="map">
            <img src="img/map.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
