<section class="contacts">
  <div class="container">
    <h2>
      Контакты
    </h2>
    <div class="contacts__inner-wrapper">
      <div class="contacts__img">
        <img src="img/contacst-bg.jpg" alt="">
      </div>
      <div class="contacts__text">
        <h3>
          ООО «Коби»
        </h3>
        <div class="contacts__info contacts__info--address">
          04114 г. Киев, ул. Приорская, 10
        </div>
        <div class="contacts__info contacts__info--tel">
          <a href="tel:+380443344603">Тел.: +38 044 3344603</a>
          <a href="tel:+380674795749">KS: +38 067 4795749</a>
          <a href="tel:+380666623456">VD: +38 066 6623456</a>
          <a href="tel:+380630231581">Life: +38 063 0231581</a>
        </div>
        <div class="contacts__info contacts__info--email">
          <a href="mailto:lporitskaya@kobi.ua">
            E-mail: lporitskaya@kobi.ua
          </a>
        </div>
        <div class="contacts__info contacts__info--work-time">
          Режим работы: Пн-Пт с 9.00 до 18.00
        </div>
      </div>
    </div>
  </div>
</section>
