<section class="articles-inner">
  <div class="container">
    <div class="title title--no-number">
      <h2>
        3 ТОВ «Кобі» працює на ринку промислового телебачення і систем
        відеоспостереження з 2003 року
      </h2>
    </div>
    <div class="articles-inner__content">
      <img src="img/zip.png" alt="">
      <p>
        Обладнання для відеоспостереження «ZetPrо» та програмне забезпечення zetPro та «СаМаР» – це якісний продукт за реальною ціною!
      </p>
      <p>
        У цьому переконалися учасники оглядово-практичного семінару з розкриттям технічних можливостей і сфер застосування продукції торгової марки «ZetPrо» та програмного забезпечення «СаМаР». Захід проходив у Києві. Організатором його виступила компанія «Кобі-Дистриб’юшин». На семінар до столиці з’їхалися представники фірм зі всіх регіонів України, які займаються монтажем та налаштуванням систем відеоспостереження.
      </p>
      <h3>
        Обладнання для відеоспостереження «ZetPrо» та програмне забезпечення «СаМаР» – це якісний продукт за реальною ціною!
      </h3>

      <p>
        У цьому переконалися учасники оглядово-практичного семінару з розкриттям технічних можливостей і сфер застосування продукції торгової марки «ZetPrо» та програмного забезпечення «СаМаР». Захід проходив у Києві. Організатором його виступила компанія «Кобі-Дистриб’юшин». На семінар до столиці з’їхалися представники фірм зі всіх регіонів України, які займаються монтажем та налаштуванням систем відеоспостереження.
      </p>
      <img src="img/zip.png" alt="">
      <p>
        Обладнання для відеоспостереження «ZetPrо» та програмне забезпечення zetPro та «СаМаР» – це якісний продукт за реальною ціною!
      </p>
      <p>
        У цьому переконалися учасники оглядово-практичного семінару з розкриттям технічних можливостей і сфер застосування продукції торгової марки «ZetPrо» та програмного забезпечення «СаМаР». Захід проходив у Києві. Організатором його виступила компанія «Кобі-Дистриб’юшин». На семінар до столиці з’їхалися представники фірм зі всіх регіонів України, які займаються монтажем та налаштуванням систем відеоспостереження.
      </p>
      <h3>
        Обладнання для відеоспостереження «ZetPrо» та програмне забезпечення «СаМаР» – це якісний продукт за реальною ціною!
      </h3>
      <ul>
        <li>
          Lorem ipsum dolor sit amet
        </li>
        <li>
          Lorem ipsum dolor sit amet
        </li>
        <li>
          Lorem ipsum dolor sit amet
        </li>
      </ul>
      <ol>
        <li>
          Lorem ipsum dolor sit amet
        </li>
        <li>
          Lorem ipsum dolor sit amet
        </li>
        <li>
          Lorem ipsum dolor sit amet
        </li>
      </ol>
    </div>
  </div>
</section>
