.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-callback--icon {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-compare--icon {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-message--icon {
  width: 1.45em;
  height: 1em;
  fill: initial;
}
.icon-nav-arrow--icon {
  width: 4.26em;
  height: 1em;
  fill: initial;
}
.icon-news--icon {
  width: 1.42em;
  height: 1em;
  fill: initial;
}
.icon-search--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
