.icon-2mp--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-3mp--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-4mp--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-5mp--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-additional--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-callback--icon {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-compare--icon {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-control--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-design-models--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-download--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-industrial-tv--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ip-intercom--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ip-speed--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-message--icon {
  width: 1.45em;
  height: 1em;
  fill: initial;
}
.icon-nav-arrow--icon {
  width: 4.26em;
  height: 1em;
  fill: initial;
}
.icon-network-ip--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-network-ip-camera--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-network-storage--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-news--icon {
  width: 1.42em;
  height: 1em;
  fill: initial;
}
.icon-poe--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-processing-data--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-software--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-wifi-components--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-wifi-kits--icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
